
body
{
    background-color: gray;
}
#box1
{
    background-color: red;
    width: 30%;
    display: inline;

}
#box2
{
    background-color: red;
    display: block;
    width: 30vw;
    margin: 10px;
    height: 50px;
}
#box3
{
    background-color: red;
    display: inline-block;
    width: 50vw;
    margin: 10px;
    height: 55vh;
}
#box4
{
    background-color: red;
    display: inline-block;
    width: 50vw;
    height: 55vh;
    margin: 10px;
}
#link3
{
    display: none;
}
#link4
{
    background-color: palevioletred;
    display: inline-block;
    width: 30px;
}
#float
{
    background-color: aqua;
    float: right;
    margin: 10px;
    width: 52vw;
    height: 10vh;
    padding: 20px;
}
#float1
{
    background-color: red;
}
