 body{
    background-color: red;
    font-size: 60px;
}
@media all and (max-width:400px)
{
#media{
    background-color: green;
    font-size: large;
    font-style: italic;
    
}
}
@media all and (min-width:401px) and (max-width:700px)
{
#media{
    background-color: blueviolet;
    font-size: 40px;
    font-style: italic;
}
#style
{
    font-size: 60px;
}
}
